@import url(https://fonts.googleapis.com/css?family=Roboto:300);
:root {
  --primary-color: #4CAF50;
  --secondary-color: #FFFFFF;
  --terciary-color: #101A57;
  --bg-input: #F2F2F2;
  --bg-color: #76B852;
  --text-color-info: #B3B3B3;
}
body {
  background: var(--bg-color); /* fallback for old browsers */
  background: rgb(141, 194, 111);
  background: linear-gradient(
    90deg,
    rgba(141, 194, 111, 1) 0%,
    rgba(118, 184, 82, 1) 50%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}
#login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.container-secondary {
  background: var(--secondary-color);
}
.elevation{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.input {
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.input-bg {
  background: var(--bg-input);
}
.btn {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: var(--secondary-color);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.btn-primary {
  background: var(--primary-color);
}
.btn-terciary {
  background: var(--terciary-color);
}
.btn:hover,
.btn:active,
.btn:focus {
  background: var(--primary-color);
}
.form .msg {
  margin: 15px 0 0;
  font-size: 12px;
  text-decoration: none;
}
.msg-info{
  color: var(--text-color-info);
}
.msg-primary{
  color: var(--primary-color);
}
.form-register {
  display: none;
}